.About{
    background-color: #DFECF4;
}

.About p {
   
    padding-left: 1rem;
    padding-right: 2rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
    margin-bottom: 0;
}
.About h2 {
    text-align: center;
    padding-top: 2rem;
    margin-bottom: 2rem;
    font-family:'Inspiration';
font-size: 5rem;
}
.About h4 {
    margin-left: 2rem ;
    text-align: center;
}
.About .icons{
display: flex;
 justify-content: space-around;
 height: 200px;
  align-items: center;
}
.About .ic {
    font-size: 10rem;
}
.About a {
    text-decoration: none;
    color:black
}
.About a:hover{
    color:#DFECF4;
}
.About ul {
    margin-bottom: 0;
    padding-bottom: 1rem;
    text-align: center;
    list-style: none;
     }