.Navbarr {

  display: flex;
  justify-content: space-around;
  
}
.Navbarr .btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  margin-left: 1rem;
  font-size: 15px;
  background: #4C4C4C;
  padding: 10px 20px 10px 20px;
  text-decoration: none;}


.Navbarr .btn:hover {
  background: #DFECF4;
  text-decoration: none;
}

