.Projects h2 {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-family:'Inspiration';
font-size: 5rem;
}
.Projects  {
    text-align: center;
}
.Projects .wedding {
    background-color: #dee0e2;
    padding: 2rem;
}
.Projects .team {
background-color: #dee0e2;
    padding: 2rem;
}
.Projects .weather {
    background-color: #dee0e2;
    padding: 2rem;
}