.Projects h2 {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-family:'Inspiration';
font-size: 5rem;
display: block;
  
}
.Projects  {
    text-align: center;
    background-color: rgba(207, 207, 207, 0.151);
}
.Projects .wedding {
   
    color: black;
    padding: 2rem;
}
.Projects .team {
 color: black;
    padding: 2rem;
}
.Projects .weather {
 color: black;
    padding: 2rem;
}

.Projects .project {
     max-width: 550px;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
}
 .btn{
    margin: 1rem;
}