.Welcome {
  display: flex;
  flex-direction: row;

  text-align: center;
  align-items: center;
  justify-content: center;
  background-image: url(../components/images/mariobg.png);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  min-height: 1000px;
}
.title {
  position: absolute;
  top: 10rem;
  background-color: #e25f0d;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
p {
  font-family: "Super Plumber Brothers";
  margin: 0;
  font-size: 4rem;
  color: black;
}
.image {
  height: 0rem;
}
.image-2 {
  height: 0rem;
}
.tunnel {
  height: 5rem;
}
.link {
  font-size: 3rem;
}
.me {
  margin: 0;
  padding-bottom: 1rem;
  width: 4rem;
}

.link:hover {
  color: #e25f0d;
}

@media screen and (max-width: 480px) {
  .title {
    background-color: #e25f0d;
    max-width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  p {
    margin: 0;
    font-size: 3rem;
  }
  .Welcome {
    display: flex;
    min-height: 100;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url(../components/images/mariobg.png);

    background-size: cover;
    background-attachment: fixed;
    background-position: 65%;
  }
  .image {
    height: 0rem;
    position: absolute;
    right: 1rem;
    top: 25rem;
  }
  .image-2 {
    height: 0rem;
    position: absolute;
    right: 13rem;
    top: 25rem;
  }
  .tunnel {
    height: 8rem;
  }
  .link {
    font-size: 2rem;
  }
}

@media screen and (min-width: 986px) {
  .title {
    width: 700px;
    height: 20rem;
    border-color: #e25f0d;
  }
  p {
    margin: 0;
  }
  .image {
    height: 0rem;
    position: absolute;
    right: 90rem;
    top: 39.5rem;
  }
  .image-2 {
    height: 0rem;
    position: absolute;
    right: 60rem;
    top: 39.5rem;
  }
  .tunnel {
    height: 10rem;
  }
}
